/* Float Label Default */

.float-label{
    @apply absolute left-5 pointer-events-none text-base text-gray-500 top-3
}
  
/* Input field default */

.auth-input{
    @apply bg-transparent border w-full mb-5 rounded-md px-5 pt-5 pb-2 text-sm
}
  
/* When input is active Float Label Styles*/
  
.auth-input:not(:placeholder-shown) ~ label,
.auth-input:-webkit-autofill ~ label,
.auth-input:focus ~ label {
    @apply top-1 text-xs 
}

.pills-container{
    @apply flex flex-wrap;
    max-height: 300px;
    opacity: 1;
    transition: 1s all;
}

.pills-container.hide-pills{
    @apply overflow-hidden;
    max-height: 0;
    opacity: 0;
}

.auth-form input{
    outline: none;  
}